<ul class="navbar-nav mr-auto">
	<li class="nav-item active">
		<a class="nav-link" href="{{path('home.index')}}">Accueil
			<span class="sr-only">(current)</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('annonce.index')}}">Nos Biens</a>


	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('dossier.index')}}">Deposer un dossier</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Publier une annonce</a>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="#">Action</a>
			<a class="dropdown-item" href="#">Another action</a>
			<a class="dropdown-item" href="#">Something else here</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">Separated link</a>
		</div>
	</li>
</ul>
